<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <clientCache cacheControlCustom="public" httpExpires="Sun, 29 Mar 2080 00:00:00 GMT" cacheControlMode="UseMaxAge" />
    </staticContent>
  </system.webServer>
</configuration>