@import "lesshat.less";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@app-box-background-color: #d0d0d0;
@app-description-color: #626262;
@published-by-color: #9d9d9d;
@app-container-width: 124px;
@app-title-width: 108px;

body {
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ubuntu-font {
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.rating-disabled {
    cursor: default;
}


.header-2 header nav li a {
    .padding(10px);
}

header {
    .height(47px);
}

.almost-black {
    color: rgb(73, 70, 70);
}

.header-2 .logo {
    margin-top: 0;
}

.header-2 .jetmenu > li > .megamenu, .jetmenu ul.dropdown {
    .top(47px);
}


.h1-no-gap {
    margin: 0;
    padding: 0;
}

.h1-no-gap-small {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.h1-no-gap-title {
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    .margin(8px 0 0 0);
}


.orange-color {
    color: orange;
}

.list-of-apps-home {
    color: red;

    h1 {
        .margin(10px,0px,10px,5px);
        color: #FF9000;
        .font-size(23px);
        font-weight: bold;
    }
}

/*.owl-list {
    .owl-item {
        min-width: 157px;
        width: 170px;
    }
}*/



.paragraph-end {
    height: 19px;
    width: 45px;
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00ffffff',EndColorStr='#ffffff');
    bottom: 0;
    max-height: 100%;
    position: absolute;
    right: 0;
}

.app-box {
    display: block;
    .padding-top(10px);
    .margin(5px);
    background-color: #FFFFFF;
    //.rounded(3px);
    text-align: center;
    .height(196px);
    border: 2px solid @app-box-background-color;
    /*position:relative;*/
    //min-width: 157px;
    //width: 170px;

    .app-icon {
        .height(115px);
        .width(122px);
    }

    .app-title-container {
        //.padding(5px,0px,7px,12px);
        text-align: center;
        .min-width(@app-container-width);
        width:87%;
        position: relative;
        margin: 0 auto;
    }
    .app-title-row{
        width:100%;
        .min-width(@app-container-width);
        position:relative;
    }

    .star-rating {
        font-size: 1em;
        //position: absolute;
        //.top(172px);
        //.left(16px);
        //text-align: center;
        cursor: pointer;
    }

    .rating-container {
        color: #909090;
    }



    .rating-stars {
        color: #F39C12;
    }

    .app-title {
        .min-width(@app-title-width);
        width:100%;
        //.height(12px);
        overflow: hidden;
        color: black;
        .font-size(12px);
        .margin(0px,0px,0px,1px);
        font-weight: bold;
        //text-align: left;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        white-space: nowrap;
        position: relative;
        .height(14px);
    }

    .fa{
        .font-size(1.2em);
    }

    .fa-apple{
        color:gray;
    }

    .published-by {
        //position: absolute;
        //.top(155px);
        width: 100%;
        .min-width(@app-container-width);
        color: @published-by-color;
        .font-size(13px);
        font-family: monospace;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        //text-align: left;
    }
}


.app-box:hover {
    background-color: #bcbcbc;
    background-color: #CACACA;

    .app-title {
        color: red;
    }

    .paragraph-end {
        background: none;
    }

    .published-by {
        color: darkblue;
    }
}




.tp-caption {
    .large_bold_grey {
        font-size: 31px;
    }
}


.gallery-home {
    .height(385px);

    .app-title {
        left: 38.333333px;
        top: 5px;
        font-size: 26px;
        .ubuntu-font;

        h1 {
            display: inline;
            margin: 0;
            font-size: 24px;
            font-size: 1em;
            color: gray;
        }
    }

    .platform-icon {
        .font-size(43px);
        color: #4b1786;
    }

    .star-rating {
        font-size: 1.5em;
        .height(21px);
    }

    .rating-container {
        color: #B2B2B2;
        cursor: default;
    }

    .rating-stars {
        color: #F39C12;
    }

    .rating-value-display {
        .font-size(20px);
        color: #F39C12;
    }

    .app-description {
        color: @app-description-color;
        .width(385px);
        text-align: left;

        p {
            text-align: justify;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
        }
    }

    .app-description-wrapper {
        width: 400px;
    }

    .app-category {
        color: red;
        .font-size(15px);
    }
}






@media (max-width: 450px) {
    .gallery-home {
    }

    .app-box {
        //width: 378px;
    }

    .app-title-container {
        .width(378px);
    }
}
