@import "lesshat.less";
/* Colors and Fonts */
@almost-white-color: #bdbdbd;
@bg-mid-error-color: #DF3B69;
@bg-low-error-color: #EF3ECC;
@bg-error-solution-color: #2382CC;
@bg-error-solution-color-hover: #3196E4;

.Blackish-Red {
    color: #330707;
}

.red {
    color: Red;
}

.red-important {
    color: Red !important;
}

.brownish-red {
    color: #B31010;
}

.bold {
    font-weight: bolder;
}

.bold-important {
    font-weight: bolder !important;
}
.green {
    color: #008000;
}

.brown {
    color: #5E1F1F;
}

.black {
    color: Black;
}

.lightcolor {
    color: Gray;
}

.white {
    color: White;
}

.blue {
    color: Blue;
}

.blue-like {
    color: #459EC9;
}

.regular-font {
    .font-size(16px);
}

.medium-font {
    font-size: 122%;
}

.bigger-font {
    font-size: 200%;
}

.deepskyblue {
    color: deepskyblue;
}
.bg-deepskyblue {
    background-color: deepskyblue;
}

.font-size-22 {
    .font-size(22px);
}


.bangla, .bangla li {
    font-family: Bangla,Kalpurush;
    .regular-font;
    font-weight: normal;
}




.almost-white {
    color: @almost-white-color;
}


.mid-error-color {
    background-color: @bg-mid-error-color;
}



.low-error-color {
    background-color: @bg-low-error-color ;
}



.error-solution-link-color {
    background-color: @bg-error-solution-color ;
}


a.error-solution-link:hover {
    text-decoration: none;
    background-color: @bg-error-solution-color-hover ;
}

a.error-solution-link span:hover {
    text-decoration: none;
    background-color: @bg-error-solution-color-hover ;
}
