@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/*---------------------------------------------------
    Developers Organism
  ---------------------------------------------------
    Written by Alim Ul Karim
  ---------------------------------------------------*/
body {
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ubuntu-font {
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.header-2 header nav li a {
  padding: 10px;
  padding: 1rem;
}
header {
  height: 47px;
  height: 4.7rem;
}
.almost-black {
  color: #494646;
}
.header-2 .logo {
  margin-top: 0;
}
.header-2 .jetmenu > li > .megamenu,
.jetmenu ul.dropdown {
  top: 47px;
  top: 4.7rem;
}
.h1-no-gap {
  margin: 0;
  padding: 0;
}
.h1-no-gap-small {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.h1-no-gap-title {
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin: 8px 0 0 0;
}
.orange-color {
  color: orange;
}
.app-box {
  display: block;
  padding-top: 10px;
  padding-top: 1rem;
  margin: 5px;
  margin: 0.5rem;
  background-color: #ECECEC;
  text-align: center;
  height: 163px;
  height: 16.3rem;
  border: 2px solid #d0d0d0;
}
.app-box .app-icon {
  height: 115px;
  height: 11.5rem;
  width: 122px;
  width: 12.2rem;
}
.app-box .app-title-container {
  padding: 5px 0px 7px 12px;
  padding: 0.5rem 0 0.7rem 1.2rem;
  text-align: left;
}
.app-box .app-title {
  color: black;
  font-size: 12px;
  font-size: 0.75em;
  margin: 0;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}