@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/*---------------------------------------------------
    Developers Organism
  ---------------------------------------------------
    Written by Alim Ul Karim
  ---------------------------------------------------*/
body {
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ubuntu-font {
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.header-2 header nav li a {
  padding: 10px;
  padding: 1rem;
}
header {
  height: 47px;
  height: 4.7rem;
}
.almost-black {
  color: #494646;
}
.header-2 .logo {
  margin-top: 0;
}
.header-2 .jetmenu > li > .megamenu,
.jetmenu ul.dropdown {
  top: 47px;
  top: 4.7rem;
}
.h1-no-gap {
  margin: 0;
  padding: 0;
}
.h1-no-gap-small {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.h1-no-gap-title {
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin: 8px 0 0 0;
}
.orange-color {
  color: orange;
}
.list-of-apps-home {
  color: red;
}
.list-of-apps-home h1 {
  margin: 10px 0px 10px 5px;
  margin: 1rem 0 1rem 0.5rem;
  color: #FF9000;
  font-size: 23px;
  font-size: 1.4375em;
  font-weight: bold;
}
.app-box {
  display: block;
  padding-top: 10px;
  padding-top: 1rem;
  margin: 5px;
  margin: 0.5rem;
  background-color: #FFFFFF;
  text-align: center;
  height: 196px;
  height: 19.6rem;
  border: 2px solid #d0d0d0;
  /*position:relative;*/
}
.app-box .app-icon {
  height: 115px;
  height: 11.5rem;
  width: 122px;
  width: 12.2rem;
}
.app-box .app-title-container {
  text-align: center;
  width: 139px;
  width: 13.9rem;
  position: relative;
}
.app-box .star-rating {
  font-size: 1em;
  position: absolute;
  top: 172px;
  top: 17.2rem;
  left: 16px;
  left: 1.6rem;
}
.app-box .rating-container {
  color: #909090;
  cursor: default;
}
.app-box .rating-stars {
  color: #F39C12;
}
.app-box .app-title {
  width: 99px;
  width: 9.9rem;
  overflow: hidden;
  color: black;
  font-size: 12px;
  font-size: 0.75em;
  margin: 0;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  position: relative;
}
.app-box .published-by {
  position: absolute;
  top: 155px;
  top: 15.5rem;
  width: inherit;
  color: #9d9d9d;
  font-size: 13px;
  font-size: 0.8125em;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.app-box:hover {
  background-color: #bcbcbc;
  background-color: #CACACA;
}
.tp-caption .large_bold_grey {
  font-size: 31px;
}
.gallery-home {
  height: 385px;
  height: 38.5rem;
}
.gallery-home .app-title {
  left: 38.333333px;
  top: 5px;
  font-size: 26px;
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.gallery-home .app-title h1 {
  display: inline;
  margin: 0;
  font-size: 24px;
  font-size: 1em;
  color: gray;
}
.gallery-home .platform-icon {
  font-size: 43px;
  font-size: 2.6875em;
  color: #4b1786;
}
.gallery-home .star-rating {
  font-size: 1.5em;
  height: 21px;
  height: 2.1rem;
}
.gallery-home .rating-container {
  color: #B2B2B2;
  cursor: default;
}
.gallery-home .rating-stars {
  color: #F39C12;
}
.gallery-home .rating-value-display {
  font-size: 20px;
  font-size: 1.25em;
  color: #F39C12;
}
.gallery-home .app-description {
  color: #626262;
  width: 385px;
  width: 38.5rem;
  text-align: left;
}
.gallery-home .app-description p {
  text-align: justify;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.gallery-home .app-description-wrapper {
  width: 400px;
}
.gallery-home .app-category {
  color: red;
  font-size: 15px;
  font-size: 0.9375em;
}
.rating-disabled {
  cursor: default;
}
.paragraph-end {
  height: 19px;
  width: 45px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#00ffffff', EndColorStr='#ffffff');
  bottom: 47px;
  max-height: 100%;
  position: absolute;
  right: 8px;
}
@media (max-width: 450px) {
  .app-title-container {
    width: 378px;
    width: 37.8rem;
  }
}