.span-1 {
  width: 76px;
}

.span-2 {
  width: 176px;
}

.span-3 {
  width: 275px;
}

.span-4 {
  width: 374px;
}

.span-5 {
  width: 474px;
}

.span-6 {
  width: 573px;
}

.span-7 {
  width: 673px;
}

.span-8 {
  width: 772px;
}

.span-9 {
  width: 872px;
}

.span-10 {
  width: 971px;
}

.span-11 {
  width: 1071px;
}

.span-12 {
  width: 1170px;
}

.offset-1 {
  margin-left: 99px;
}

.offset-2 {
  margin-left: 199px;
}

.offset-3 {
  margin-left: 298px;
}

.offset-4 {
  margin-left: 398px;
}

.offset-5 {
  margin-left: 497px;
}

.offset-6 {
  margin-left: 597px;
}

.offset-7 {
  margin-left: 696px;
}

.offset-8 {
  margin-left: 796px;
}

.offset-9 {
  margin-left: 895px;
}

.offset-10 {
  margin-left: 994px;
}

.offset-11 {
  margin-left: 1094px;
}

