html {
  font-size: 0.75em;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'FontAwesome Regular';
  font-weight: normal;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.app-category-icon {
  position: absolute;
  top: 0;
  left: -0.0390625%;
  font-size: 1.25em;
  line-height: 1.38;
  color: rgb(106, 106, 106);
}

.app-category-name-front-page {
  float: left;
  font: 1.583em/1.38 'Ubuntu Medium';
  color: rgb(255, 69, 0);
}

.app-details-container {
  position: absolute;
  top: 2.333rem;
  left: 1.6098980125%;
  z-index: 8;
  width: 35.460251046%;
  height: 20.333rem;
}

.app-details-container .app-ratting {
  position: relative;
  float: left;
  clear: both;
  z-index: 7;
  margin-left: 0.28577%;
  font-size: 1.667em;
  color: rgb(240, 232, 38);
}

.app-icon {
  float: left;
  margin: 0.083rem 0 0 0.29586%;
  font-size: 1.667em;
  line-height: 1.38;
  color: rgb(106, 106, 106);
}

.app-name-in-appbox {
  position: absolute;
  top: 0.25rem;
  left: 12.510554461%;
  font: 0.833em/1.38 'Ubuntu Medium';
  color: rgb(0, 0, 0);
}

.app-rating-div {
  position: absolute;
  top: 1.417rem;
  left: 0.6875%;
  width: 98.6145833333%;
  height: 1.417rem;
}

.app-rating-div .app-ratting {
  position: absolute;
  top: 0;
  left: -0.0211260167%;
  font-size: 1em;
  color: rgb(240, 38, 38);
}

.app-ratting {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  line-height: 1.38;
}

.app-small-details {
  position: absolute;
  top: 5.25rem;
  left: -0.1152286136%;
  z-index: 3;
  width: 106.7846607669%;
  min-height: 2.5rem;
  max-height: 153px;
  font: 400 1.333em/1.38 Cabin;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.app-title-front-page {
  float: left;
  margin-left: 0.91069%;
  font: 1.667em/1.38 'Ubuntu Medium';
  color: rgb(255, 0, 0);
}

.app-title-in-appbox {
  position: relative;
  float: left;
  width: 99.28721174%;
  height: 1.5rem;
  margin-left: 0.72545%;
}

.appbox-app-header {
  position: absolute;
  top: 8.667rem;
  left: 3.3463541666%;
  width: 93.3333333333%;
  height: 3.333rem;
}

.appbox-app-icon {
  display: block;
  position: absolute;
  top: 1.583rem;
  left: 0;
  right: 0;
  width: 80.1242236024%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.appbox-list-parent {
  position: absolute;
  top: 2.583rem;
  left: 0;
  width: 960px;
  height: 13.417rem;
}

.apps-text {
  float: left;
  font: 1.583em/1.38 'Ubuntu Medium';
  color: rgb(0, 0, 0);
}

.container-grp {
  position: absolute;
  top: 37.167rem;
  left: 10%;
  z-index: 147;
  width: 80%;
  height: 36.083rem;
}

.front-page-list-title {
  display: block;
  float: left;
  width: 163px;
  height: 2.167rem;
}

.gallery-container {
  position: relative;
  float: left;
  clear: both;
  width: 960px;
  height: 31.417rem;
  margin-left: 10%;
  border: 0.167rem solid rgb(185, 185, 185);
  border-radius: 0.167rem;
  background-color: rgb(255, 255, 255);
}

.gallery-image {
  display: block;
  position: relative;
  float: left;
  z-index: 0;
  width: 99.1631799163%;
  height: auto;
  margin: 0.333rem 0 0 0.41678%;
  overflow: hidden;
}

.latest-apps-listh {
  position: relative;
  float: left;
  width: 100%;
  height: 16.083rem;
}

.small-app-display {
  float: left;
  width: 124px;
  height: 13.167rem;
}

.small-app-display-bg {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 13.167rem;
  max-height: 198px;
  border: 0.167rem solid rgb(166, 166, 166);
  background-color: rgb(226, 226, 226);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.title-link {
  display: block;
  position: relative;
  float: left;
  z-index: 6;
  width: 99.7050147492%;
  height: 2.25rem;
  margin-left: 0.2949899999%;
}

.top-nvigation {
  float: left;
  width: 80%;
  height: 4.5rem;
  margin-left: 10%;
}

.visit-app-btn {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 22.1238938053%;
  height: 1.75rem;
  margin: 13.917rem 0 0 0.28577%;
  border-radius: 0.25rem;
  background-color: rgb(77, 174, 254);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font: 400 1.333em/1.38 Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

.visit-app-btn:hover {
  background-color: rgb(18, 81, 133);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  color: rgb(246, 246, 246);
}

.visit-app-btn:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset, 0 2px 5px rgba(0, 0, 0, 0.5);
}

.visit-app-btn:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.white-box {
  position: absolute;
  top: -2rem;
  left: -3.3646755163%;
  z-index: 1;
  width: 115.634218289%;
  height: 30.333rem;
  background-color: rgb(255, 255, 255);
}

.app-category-icon-1 {
  z-index: 14;
}

.app-category-icon-10 {
  z-index: 100;
}

.app-category-icon-11 {
  z-index: 109;
}

.app-category-icon-12 {
  z-index: 118;
}

.app-category-icon-13 {
  z-index: 127;
}

.app-category-icon-14 {
  z-index: 136;
}

.app-category-icon-2 {
  z-index: 23;
}

.app-category-icon-3 {
  z-index: 32;
}

.app-category-icon-4 {
  z-index: 41;
}

.app-category-icon-5 {
  z-index: 50;
}

.app-category-icon-6 {
  z-index: 59;
}

.app-category-icon-7 {
  z-index: 68;
}

.app-category-icon-8 {
  z-index: 82;
}

.app-category-icon-9 {
  z-index: 91;
}

.app-name-in-appbox-1 {
  z-index: 13;
}

.app-name-in-appbox-10 {
  z-index: 99;
}

.app-name-in-appbox-11 {
  z-index: 108;
}

.app-name-in-appbox-12 {
  z-index: 117;
}

.app-name-in-appbox-13 {
  z-index: 126;
}

.app-name-in-appbox-14 {
  z-index: 135;
}

.app-name-in-appbox-2 {
  z-index: 22;
}

.app-name-in-appbox-3 {
  z-index: 31;
}

.app-name-in-appbox-4 {
  z-index: 40;
}

.app-name-in-appbox-5 {
  z-index: 49;
}

.app-name-in-appbox-6 {
  z-index: 58;
}

.app-name-in-appbox-7 {
  z-index: 67;
}

.app-name-in-appbox-8 {
  z-index: 81;
}

.app-name-in-appbox-9 {
  z-index: 90;
}

.app-rating-div-1 {
  z-index: 12;
}

.app-rating-div-10 {
  z-index: 98;
}

.app-rating-div-11 {
  z-index: 107;
}

.app-rating-div-12 {
  z-index: 116;
}

.app-rating-div-13 {
  z-index: 125;
}

.app-rating-div-14 {
  z-index: 134;
}

.app-rating-div-2 {
  z-index: 21;
}

.app-rating-div-3 {
  z-index: 30;
}

.app-rating-div-4 {
  z-index: 39;
}

.app-rating-div-5 {
  z-index: 48;
}

.app-rating-div-6 {
  z-index: 57;
}

.app-rating-div-7 {
  z-index: 66;
}

.app-rating-div-8 {
  z-index: 80;
}

.app-rating-div-9 {
  z-index: 89;
}

.app-ratting-10 {
  z-index: 88;
}

.app-ratting-11 {
  z-index: 97;
}

.app-ratting-12 {
  z-index: 106;
}

.app-ratting-13 {
  z-index: 115;
}

.app-ratting-14 {
  z-index: 124;
}

.app-ratting-15 {
  z-index: 133;
}

.app-ratting-2 {
  z-index: 11;
}

.app-ratting-3 {
  z-index: 20;
}

.app-ratting-4 {
  z-index: 29;
}

.app-ratting-5 {
  z-index: 38;
}

.app-ratting-6 {
  z-index: 47;
}

.app-ratting-7 {
  z-index: 56;
}

.app-ratting-8 {
  z-index: 65;
}

.app-ratting-9 {
  z-index: 79;
}

.app-title-in-appbox-1 {
  z-index: 15;
}

.app-title-in-appbox-10 {
  z-index: 101;
}

.app-title-in-appbox-11 {
  z-index: 110;
}

.app-title-in-appbox-12 {
  z-index: 119;
}

.app-title-in-appbox-13 {
  z-index: 128;
}

.app-title-in-appbox-14 {
  z-index: 137;
}

.app-title-in-appbox-2 {
  z-index: 24;
}

.app-title-in-appbox-3 {
  z-index: 33;
}

.app-title-in-appbox-4 {
  z-index: 42;
}

.app-title-in-appbox-5 {
  z-index: 51;
}

.app-title-in-appbox-6 {
  z-index: 60;
}

.app-title-in-appbox-7 {
  z-index: 69;
}

.app-title-in-appbox-8 {
  z-index: 83;
}

.app-title-in-appbox-9 {
  z-index: 92;
}

.appbox-app-header-1 {
  z-index: 16;
}

.appbox-app-header-10 {
  z-index: 102;
}

.appbox-app-header-11 {
  z-index: 111;
}

.appbox-app-header-12 {
  z-index: 120;
}

.appbox-app-header-13 {
  z-index: 129;
}

.appbox-app-header-14 {
  z-index: 138;
}

.appbox-app-header-2 {
  z-index: 25;
}

.appbox-app-header-3 {
  z-index: 34;
}

.appbox-app-header-4 {
  z-index: 43;
}

.appbox-app-header-5 {
  z-index: 52;
}

.appbox-app-header-6 {
  z-index: 61;
}

.appbox-app-header-7 {
  z-index: 70;
}

.appbox-app-header-8 {
  z-index: 84;
}

.appbox-app-header-9 {
  z-index: 93;
}

.appbox-app-icon-1 {
  z-index: 17;
}

.appbox-app-icon-10 {
  z-index: 103;
}

.appbox-app-icon-11 {
  z-index: 112;
}

.appbox-app-icon-12 {
  z-index: 121;
}

.appbox-app-icon-13 {
  z-index: 130;
}

.appbox-app-icon-14 {
  z-index: 139;
}

.appbox-app-icon-2 {
  z-index: 26;
}

.appbox-app-icon-3 {
  z-index: 35;
}

.appbox-app-icon-4 {
  z-index: 44;
}

.appbox-app-icon-5 {
  z-index: 53;
}

.appbox-app-icon-6 {
  z-index: 62;
}

.appbox-app-icon-7 {
  z-index: 71;
}

.appbox-app-icon-8 {
  z-index: 85;
}

.appbox-app-icon-9 {
  z-index: 94;
}

.appbox-list-parent-1 {
  z-index: 74;
}

.appbox-list-parent-2 {
  z-index: 142;
}

.latest-apps-listh-2 {
  clear: both;
  margin-top: 2.917rem;
}

.small-app-display-11,
.small-app-display-13,
.small-app-display-2,
.small-app-display-4,
.small-app-display-6,
.small-app-display-9 {
  margin-left: 1.35417%;
}

.small-app-display-10,
.small-app-display-12,
.small-app-display-14,
.small-app-display-3,
.small-app-display-5,
.small-app-display-7 {
  margin-left: 1.4583299999%;
}

.apps-text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}